/* Global styles */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #051D39;
    font-family: sans-serif;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    color: #818181;
    margin: 0px 10dvh;
    overflow: hidden;
    height: 20%;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    z-index:2;

}

.nav-left{
    display: flex;
    flex-direction:row;
    font-size: 1.5vh;
    gap: 10px;
    align-items: center;
    overflow: hidden;
}
.nav-right{
    display: flex;
    flex-direction: row;
    gap: 1vh;
    height:5vh;
    font-size: 1.5vh;
    justify-content: center;
}

.logo{
    height:6vh;
    transform: rotate(20deg);

}

.nav-menu-icon{
    margin: 10px;
}

.nav-icon{
    color: #818181;
}

.mainpage-handshake {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,10%);
    height: 100%;
    width: 100%;

}
.handshake {
    transform: scale(1.075);
    object-position: center -155vh ;
    object-fit: cover;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 84.15%;
    height: 75%;
    margin:20dvh;
    margin-top:7dvh;
    margin-left:16.47dvh;
}

.mainpage-handshake .handshake-title{
    transform: translate(-50%, -50%);
    color: white;
    font-size: 6vh;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    z-index: 10;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 15dvh;
    align-self: center;
    margin-bottom: 10dvh;
}

.features-section {
    display: flex;
    background-color: #FFFFFF;
    z-index: 3;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: end;
    justify-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    min-height: 100px;
    max-height: 175px;
    margin-bottom: 40px;
    top: 20%;

}
.features-section img{
    height:75px;
    margin-top:10px;
}
.feature-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


